/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END MEYER RESET */

#modal {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 500;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#enter-app {
  display: flex;
  flex-direction: column;
}

#enter-app label, #chat-username {
  margin-bottom: 1rem;
}

#enter-app input[type="submit"] {
  background-color: rgba(0, 0, 0, 0.589);
}

#enter-app input[type="submit"]:hover {
  background-color: rgba(27, 27, 27, 0.827)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15%;
  width: 100%;
}

.header-left {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-right {
  height: 100%;
  display: flex;
  align-items: center;
}

#title {
  font-size: 1.5rem;
  font-weight: 900;
  padding-left: 1rem;
}

#exit-room {
  border: none;
  background-color: rgba(244, 119, 119, 0.765);
  height: 30%;
  width: 10%;
  min-width: 30px;
  max-width: 60px;
  margin-left: 2rem;
  padding: 0.2rem 0.4rem;
  border-radius: 2px;
  font-size: 0.7rem;
  cursor: pointer;
}

#exit-room:hover {
  background-color: rgba(237, 128, 128, 0.984);
}

#user {
  font-weight: 900;
  padding-right: 1rem;
  color: rgb(73, 171, 255);
}

#user-video-container {
  position: relative;
  margin-right: 2rem;
}

#user-video {
  width: 80px;
}

#user-video-controls {
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 2px 2px;
}

#user-video-controls .fas {
  cursor: pointer;
}

main {
  height: 75%;
  width: 100%;
  display: flex;
}

#chat-room-aside {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-selector {
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  background-color: rgba(160, 236, 236, 0.745);
  width: 100%;
}

.room-selector:hover {
  background-color: rgba(151, 237, 237, 0.95);
}

#chatters {
  height: 100%;
  overflow: scroll;
}

.chatter {
  border: none;
  padding: 0.5rem;
  background-color: rgba(175, 233, 197, 0.745);
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.chatter:hover {
  background-color: rgba(152, 239, 197, 0.95);
}

#screen-share {
  border: none;
  background-color: rgb(160, 236, 236, 0.345);
  cursor: pointer;
}

#screen-share:hover {
  background-color: rgba(151, 237, 237, 0.545);
}

#videos {
  width: 60%;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
}

#display-media {
  height: 300px;
  position: relative;
}

.video-container {
  height: 150px;
  position: relative;
}

.peer-video {
  height: 150px;
}

.video-container > h6 {
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.1rem 1.5rem 0.3rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

#messages {
  width: 25%;
  overflow: scroll;
}

#messages > li {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.sender {
  align-items: flex-end;
}

.receiver {
  align-items: flex-start;
}

.username {
  font-weight: 900;
  padding-bottom: 0.2rem;
}
.sender .username {
  color: rgb(249, 194, 95);
  font-size: 0.5rem;
}
.receiver .username {
  color: rgb(23, 179, 12);;
  font-size: 0.7rem;
}

.chat-message {
  color: rgb(121, 121, 121);
  padding: 0.4rem 0.6rem;
  border-radius: 12px;
}

.sender .chat-message {
  background-color: rgba(146, 244, 253, 0.2);
  border-top-right-radius: 0px;
}

.receiver .chat-message {
  background-color: rgba(185, 185, 185, 0.2);
  border-top-left-radius: 0px;
}

.timestamp {
  color: rgb(176, 176, 176);
  font-size: 0.5rem;
  padding-top: 0.2rem;
}

footer {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#chat-form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

input[name="message"] {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0 0.25rem;
}

input[name="message"]:focus {
  outline: none;
}

input[type="submit"] {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
  cursor: pointer;
}

input:disabled {
  background-color: rgba(193, 193, 193, 0.765);
  cursor: default;
}

.hidden {
  display: none !important;
}
