ul {
  list-style: none;
}

body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#chat-form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

input[name="message"] {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

input[name="message"]:focus {
  outline: none;
}

input[type="submit"] {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
  cursor: pointer;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages > li {
  padding: 0.5rem 1rem;
}

.sender {
  background-color: rgba(146, 244, 253, 0.2);
  text-align: right;
}

.receiver {
  background-color: rgba(185, 185, 185, 0.2);
}

.hidden {
  display: none;
}

input:disabled {
  background-color: rgba(193, 193, 193, 0.765);
  cursor: default;
}

.room-selector {
  border-radius: 2px;
  border: none;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  background-color: rgba(160, 236, 236, 0.745);
}

button:hover {
  background-color: rgba(151, 237, 237, 0.95);
}

header {
  display: flex;
  align-items: center;
}

#exit {
  border: none;
  background-color: rgba(244, 119, 119, 0.765);
  height: 50%;
  width: 10%;
  margin-left: 2rem;
  padding: 0.2rem 0.4rem;
  border-radius: 2px;
  font-size: 0.7rem;
  cursor: pointer;
}

#exit:hover {
  background-color: rgba(237, 128, 128, 0.984);
}